<% if @blog.errors.any? %>

<h2>The following errors prevented the article from getting created</h2>

<ul>

<% @blog.errors.full_messages.each do |msg| %>

<li><%= msg %></li>

<% end %>

</ul>

<% end %>


<%= form_for @blog do |b| %>

<p>
	<%= b.label :title %>
	<%= b.text_field :title  %> 
</p> 

<p>
	<%= b.label :description %>
	<%= b.text_area :description %>
</p>

	<%= b.submit %>


<% end -%>
<br>